.button__download {
  max-width: 12.0625rem;
  background-color: var(--clr__btn-1);
  padding: var(--padding-1);
  border-radius: 2rem;
  border: none;
  margin: 2rem 0 1rem;

  &::after {
    content: " v1.3";
    color: var(--clr__text-3);
  }
}

.button__download--footer {
  background-color: var(--clr__btn-2);
  padding: var(--padding-1);
  border-radius: 2rem;
  border: none;

  &::after {
    content: " v1.3";
    color: inherit;
    opacity: 0.6;
    font-weight: 700;
  }
}
.button__question {
  max-width: 8.6875rem;
  background-color: var(--clr__btn-2);
  padding: var(--padding-2);
  border-radius: 2rem;
  border: none;
}
