.box{

    .v-line{
        background-color: var(--clr__text-2);
        width: .5px;
        height: 5.25rem;
        margin: 0 auto;
    }

    .circle{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr__bg);
        border-radius: 50%;
        border: 0.0625rem solid var(--clr__text-2);
        width: 3.5rem;
        height: 3.5rem;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 900;
        color: var(--clr__text-2);
    }
}

.box:first-child{
    margin: 4rem 0;
}
.box:last-child{
    transform: translateY(1.8rem);
    margin: 4rem 0 0;

}