// Font Family
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
html {
  font-size: 100%;
  font-family: "Red Hat Display", sans-serif;
}

.intro__title {
  width: 80%;
  font-size: var(--fs__h1-mobile);
  font-weight: 900;
  line-height: 2.75rem;
  color: var(--clr__text-1);
  text-align: center;
  margin: 0 auto 1.5rem;

  @media screen and (min-width: 47em) {
    font-size: var(--fs__h1-tablet);
  }

  @media screen and (min-width: 60em) {
    font-size: var(--fs__h1-desktop);
    line-height: 4rem;
  }
}

.intro__paragraph {
  width: 90%;
  font-size: var(--fs__p-mobile);
  font-weight: 500;
  line-height: 1.625rem;
  color: var(--clr__text-2);
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: 47em) {
    font-size: var(--fs__p-tablet);
  }
  
  @media screen and (min-width: 60em) {
    width: 100%;
    font-size: var(--fs__p-desktop);
    line-height: 1.625rem;
  }
}

.main__concept-p {
  font-size: var(--fs__span);
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: var(--clr__btn-1);
  text-align: center;
  text-transform: uppercase;
}

.main__concept-title {
  font-size: var(--fs__h2-mobile);
  font-weight: 900;
  line-height: 2.25rem;
  color: var(--clr__text-1);
  text-align: center;
  margin: 1.5rem 0 2rem;

  @media screen and (min-width: 47em) {
    font-size: var(--fs__h2-tablet);
    line-height: 2.75rem;
  }

  @media screen and (min-width: 60em) {
    font-size: var(--fs__h2-desktop);
  }
}

.main__concept-paragraph {
  font-size: var(--fs__p-mobile);
  font-weight: 500;
  line-height: 1.625rem;
  color: var(--clr__text-2);
  text-align: center;

  @media screen and (min-width: 60em) {
    font-size: var(--fs__p-desktop);
  }
}

.footer__title {
  font-size: var(--fs__h2-mobile);
  font-weight: 900;
  line-height: 2.25rem;
  color: var(--clr__bg);
  text-align: center;

  @media screen and (min-width: 47em) {
    font-size: var(--fs__h2-tablet);
  }

  @media screen and (min-width: 60em) {
    text-align: left;
    font-size: var(--fs__h2-desktop);
    line-height: 2.75rem;
  }
}

.footer__paragraph {
  font-size: var(--fs__p-footer);
  font-weight: 500;
  line-height: 1.625rem;
  color: var(--clr__bg);
  text-align: center;
  margin: 1.5rem 0 2rem;

  @media screen and (min-width: 60em) {
    text-align: left;
    margin: 0 5.75rem 0 7.8125rem;
  }
}

//BUTTONS

.button {
  font-size: var(--fs__button);
  font-weight: 900;
  color: var(--clr__bg);
  cursor: pointer;
  transition: 0.2ms all ease-in-out;
}
