header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header__logo {
    margin: 0 auto 3.375rem;
  }

  .header__intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    .header__intro-img-left {
      width: 50%;
      transform: translateX(-1rem);
    }
    .header__intro-img-right {
      width: 50%;
      transform: translateX(1rem);
    }

    .intro {
      width: 90%;
      margin: 3rem auto 1.5rem;
    }

    .intro__buttons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
