.main {
  width: 85%;
  max-width: 69.375rem;
  margin: 0 auto;

  @media screen and (min-width: 47em) {
    width: 90%;
  }

  .img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5625rem;
    margin: 2rem 0;

    @media screen and (min-width: 47em) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }

    .img {
      width: 100%;
      border-radius: 0.5rem;
    }
  }

  .main__concept {
    width: 100%;
    max-width: 35.8125rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main__concept-title {
      max-width: 28rem;
    }
  }
}
